<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Zoopla">

	<listeners>
		<listener class-name="com.zoopla.utilities.Reporting" />
	</listeners>


	<test name="Zoopla Test chrome">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.zoopla.testcases.TC_Searchforsale" />
			</classes>		

	</test>

<test name="Zoopla Test edge">
		<parameter name="browser" value="edge" />
		<classes>
			<class name="com.zoopla.testcases.TC_Searchforsale" />
			</classes>		

	</test>

</suite>